<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <form [formGroup]="formPlaca" (ngSubmit)="verificarVeiculo()" novalidate>
    <div id="card">
      <ion-card-header>
        <ion-card-title id="title">INFORME A PLACA DO VEÍCULO:</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input 
          type="text"
          placeholder="AAA0A00" 
          id="input" 
          maxlength="7" 
          autocapitalize="on" 
          [(ngModel)]="InputPlaca"
          formControlName="placa">
        </ion-input>
      </ion-card-content>
    </div>

    <ion-button 
      id="button" 
      type="submit" 
      expand="block" 
      size="large" 
      (click)="verificarVeiculo()">
      <ion-icon id="icon2" slot="start" name="car-outline"></ion-icon>
      Verificar Veículo
    </ion-button>
  </form>

  <br><br><br>

  <div id="div_erro">
    <span class="error ion-padding" *ngIf="isSubmitted && 
      (errorControl.placa.errors?.minlength || 
      errorControl.placa.errors?.maxlength || 
      errorControl.placa.errors?.pattern || 
      errorControl.placa.errors?.required)">
      <div id="div_erro_2">
        Placa inválida!
      </div>
    </span>
  </div>  

  </div>
</ion-content>