<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <a id="title">Cadastro de Pessoa</a><br><br>

  <form [formGroup]="formCadP" (ngSubmit)="cadastrarPessoa()" novalidate>
    <div id="div_form">
      <ion-item id="item" color="transparent">
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="name" type="text" id="text_form" maxlength="30"></ion-input>
      </ion-item>
      <span *ngIf="isSubmitted &&
        (errorControl.name.errors?.minlength || 
        errorControl.name.errors?.maxlength ||
        errorControl.name.errors?.required)">
        <div id="erro_name">
          Nome Inválido!
        </div>
      </span>

      <ion-item id="item" color="transparent">
        <ion-label position="floating">Data de Nascimento</ion-label>
        <ion-datetime (ionChange)="getDate($event)" formControlName="birthdate" [value]="defaultDate"></ion-datetime>
      </ion-item>

      <ion-item id="item" color="transparent">
        <ion-label position="floating">CPF</ion-label>
        <ion-input formControlName="cpf" type="text" id="text_form" maxlength="14" [brmasker]="{person: true}"></ion-input>
      </ion-item>
      <span *ngIf="isSubmitted &&
        (errorControl.cpf.errors?.minlength || 
        errorControl.cpf.errors?.maxlength ||
        errorControl.cpf.errors?.required)">
        <div id="erro_cpf">
          CPF Inválido!
        </div>
      </span>

      <ion-item id="item" color="transparent">
        <ion-label position="floating">CEP</ion-label>
        <ion-input formControlName="cep" type="text" id="text_form" maxlength="10" [brmasker]="{mask: '00.000-000', type:'num'}"></ion-input>
      </ion-item>
      <span *ngIf="isSubmitted &&
        (errorControl.cep.errors?.minlength || 
        errorControl.cep.errors?.maxlength ||
        errorControl.cep.errors?.required)">
        <div id="erro_cep">
          CEP Inválido!
        </div>
      </span>

      <ion-item id="item" color="transparent">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input formControlName="email" type="email" id="text_form"></ion-input>
      </ion-item>
      <span *ngIf="isSubmitted &&
        (errorControl.email.erros?.pattern ||
        errorControl.email.errors?.required)">
        <div id="erro_email">
          E-mail Inválido!
        </div>
      </span>
      
      <ion-item id="item" color="transparent">
        <ion-label position="floating">Telefone</ion-label>
        <ion-input formControlName="phone" type="text" id="text_form" maxlength="15" [brmasker]="{phone: true}"></ion-input>
      </ion-item>
      <span *ngIf="isSubmitted &&
        (errorControl.phone.errors?.minlength || 
        errorControl.phone.errors?.maxlength ||
        errorControl.phone.errors?.required)">
        <div id="erro_phone">
          Telefone Inválido!
        </div>
      </span>

      <ion-item id="item" color="transparent" lines="full">
        <ion-label position="floating">Tipo</ion-label>
        <ion-radio-group formControlName="type" >
          <br>
          <ion-item id="item_r1" color="transparent" lines="none">
            <ion-radio slot="start" value="morador" id="radio"></ion-radio>
            <ion-label>Morador</ion-label>
          </ion-item>

          <ion-item id="item_r2" color="transparent" lines="none">
            <ion-label>Visitante</ion-label>
            <ion-radio slot="start" value="visitante" id="radio"></ion-radio>
          </ion-item>

          <ion-item id="item_r3" color="transparent" lines="none">
            <ion-label>Funcionário</ion-label>
            <ion-radio slot="start" value="funcionário" id="radio"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <span *ngIf="isSubmitted && errorControl.tipo.errors?.required">
        <div id="erro_type">
          Informe o Tipo!
        </div>
      </span>
    </div>

    <ion-button id="button" type="submit" expand="block" size="large">
      <ion-icon id="icon2" slot="start" name="person-add-outline"></ion-icon>
      Cadastrar Pessoa
    </ion-button>
  </form>

  </div>
</ion-content>