<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" scrollX="true">
    <div id="div_line">
      <ion-item-divider id="divider">
      </ion-item-divider>
      <ion-label id="text_line">
        Verificação de Veículos
      </ion-label>
    </div>

    <ion-button id="button" expand="block" size="large" routerLink="/camera">
      <ion-icon id="icon1" slot="start" name="camera-outline"></ion-icon>
      Por Imagem
    </ion-button>

    <ion-button id="button" expand="block" size="large" routerLink="/digitar">
      <ion-icon id="icon3" slot="start" name="text-outline"></ion-icon>
      Digitar Placa
    </ion-button>

    <div id="div_line">
      <ion-item-divider id="divider">
      </ion-item-divider>
      <ion-label id="text_line">
        Manutenção de Veículos
      </ion-label>
    </div>

    <ion-button id="button" expand="block" size="large" routerLink="/cadastro-v">
      <ion-icon id="icon4" slot="start" name="car-outline"></ion-icon>
      Cadastrar Veículo
    </ion-button>

    <ion-button id="button" expand="block" size="large" routerLink="/search-v">
      <ion-icon id="icon5" slot="start" name="search-outline"></ion-icon>
      Pesquisar Veículo
    </ion-button>

    <div id="div_line">
      <ion-item-divider id="divider">
      </ion-item-divider>
      <ion-label id="text_line">
        Manutenção de Pessoas
      </ion-label>
    </div>

    <ion-button id="button" expand="block" size="large" routerLink="/cadastro-p">
      <ion-icon id="icon4" slot="start" name="person-add-outline"></ion-icon>
      Cadastrar Pessoa
    </ion-button>

    <ion-button id="button" expand="block" size="large" routerLink="/search-p">
      <ion-icon id="icon5" slot="start" name="search-outline"></ion-icon>
      Pesquisar Pessoa
    </ion-button>

    <div id="div_line">
      <ion-item-divider id="divider">
      </ion-item-divider>
      <ion-label id="text_line">
        Manutenção de Conta
      </ion-label>
    </div>

    <ion-button id="button" expand="block" size="large" routerLink="/conta">
      <ion-icon id="icon6" slot="start" name="person-circle-outline"></ion-icon>
      Minha Conta
    </ion-button>
    <br>
  </div>
</ion-content>
