<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <image-cropper
        [imageBase64]="image"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="3 / 1"
        [resizeToWidth]="1024"
        format="jpg"
        (imageCropped)="imageCropped($event)"
    ></image-cropper>

    <ion-img [src]="croppedImage.base64" id="crop_im"></ion-img>

    <ion-button id="button" expand="block" size="large" (click)="captureImage()">
      <ion-icon id="icon1" slot="start" name="camera-outline"></ion-icon>
      Repetir foto
    </ion-button>

    <ion-button id="button" expand="block" size="large" (click)="recognizeImage()" [disabled]="!image || !workerReady">
      <ion-icon id="icon2" slot="start" name="car-outline"></ion-icon>
      Verificar Veículo
    </ion-button>

    <div id="div_ocr">
    <ion-card *ngIf="workerReady && captureProgress > 0" id="card">
      <ion-card-header>
        <ion-card-title>
          Progresso da Captura: {{ captureProgress }}%
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ ocrResult }}
      </ion-card-content>
    </ion-card>
    </div>
    
  </div>
</ion-content>