#container {
    text-align: center;
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
  
#button {
    margin-top: 20px;
}

#title {
    font-weight: bold;
    text-align:center;
    font-size:x-large;
    margin-right: 50px;
}

#icon1 {
    margin-left: -40px;
    margin-right: 40px;
}
  
#icon2 {
    margin-left: 0px;
    margin-right: 20px;
}

#card {
    margin-top: 50px;
}

#div_ocr {
    margin-top: 50px;
    height: 0px;
}

#crop_im {
    width: 309px;
    height: 103px;
    margin-top: 20px;
    margin-left: 5px;
}

#image {
    //APROVEITAR SOMENTE O FILTRO!
    filter: contrast(500%) grayscale(1);
}