<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title id="title">Sobre o Aplicativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-text id="text">
      Projeto de Iniciação Científica com ênfase em reconhecimento ótico de caracteres. <br>
      A aplicação é um sistema de monitoramento de veículos que verifica automóveis 
      por meio do reconhecimento ótico de suas placas.
    </ion-text>

    <!-- IMAGEM DO PIBIC -->

    <div id="div_augusto">
    <ion-text>
      <b>Aluno Bolsista:</b> <br>
      Augusto Zanardi Creppe <br>
      <a id="mail_icon"><ion-icon id="icon1" slot="start" name="mail-outline"></ion-icon></a> augusto.creppe@unesp.br
    </ion-text>
    </div>

    <div id="div_nilceu">
    <ion-text>
      <b>Orientador:</b> <br>
      Prof. Dr. A. Nilceu Marana <br>
      <a id="mail_icon"><ion-icon id="icon1" slot="start" name="mail-outline"></ion-icon></a> nilceu.marana@unesp.br
    </ion-text>
    </div>

    <!-- IMAGEM DO CTI --> <!-- IMAGEM DA UNESP -->
  </div>
</ion-content>