#ion-slides {
    height: 100%;
}

#container {
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

#title {
    margin-top: -40px;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

#div_text {
    margin-top: 15px;
    padding-right: 8px;
}

#text {
    font-size: larger;
    text-align: justify;
}

#img_pibic {
    width: 175px;
    height: 70px;
    margin-top: 15px;
    margin-left: 130px;
    margin-bottom: 15px;
}

#div_nome {
    margin-top: 15px;
    font-size: larger;
}

#icon {
    padding-top: 0px;
}

#mail_icon {
    color:black;
}

#img_cti {
    height: 60px;
    width: 115.2px;
    margin-top: 20px;
    margin-left: 180px;
}

#img_unesp {
    height: 60px;
    width: 180px;
    margin-top: 20px;
    margin-left: 120px;
}