<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-title id="title">Sobre o Aplicativo</ion-title>
    
    <div id="div_text">
    <ion-text id="text">
      &nbsp; O (aplicativo) é um projeto de Iniciação Científica com ênfase no reconhecimento ótico de caracteres.
      <br>
      &nbsp; A aplicação é um sistema de monitoramento de veículos que verifica automóveis 
      por meio do reconhecimento ótico de placas.
    </ion-text>
    </div>

    <img id="img_pibic" src="../../assets/logo_pibic.png">

    <div id="div_nome">
    <ion-text>
      <b>Aluno Bolsista:</b> <br>
      Augusto Zanardi Creppe <br>
      <a id="mail_icon"><ion-icon id="icon" slot="start" name="mail-outline"></ion-icon></a> augusto.creppe@unesp.br
    </ion-text>
    </div>

    <div id="div_nome">
    <ion-text>
      <b>Orientador:</b> <br>
      Prof. Dr. A. Nilceu Marana <br>
      <a id="mail_icon"><ion-icon id="icon" slot="start" name="mail-outline"></ion-icon></a> nilceu.marana@unesp.br
    </ion-text>
    </div>

    <img id="img_cti" src="../../assets/logo_cti.png">
    <img id="img_unesp" src="../../assets/logo_unesp.png">

  </div>
</ion-content>