#container {
    text-align: center;
  
    position: initial;
    left: 0;
    right: 0;
    top: 50%;
  
    padding-left: 20px;
    padding-right: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
}
  
#button {
    margin-top: 20px;
}

#title {
    font-weight: bold;
    text-align:center;
    font-size:0.8cm;
    color: black;
}

#div_form {
    width: 320px;
    background-color: #3880ff;
    color: white;
    border-radius: 2%;
    padding: 4px;
    padding-bottom: 20px;
}

#item {
    font-size: x-large;
    color:white;
}

#text_form {
    color: whitesmoke;
}

#erro_plate {
    display: block;
    color: #8a0000;
    font-size: large;
    background-color: #ff6b6b;
    width: 130px;
    border-radius: 4%;
    margin-left: 90px;
    margin-top: 2px;
}

#erro_brand {
    display: block;
    color: #8a0000;
    font-size: large;
    background-color: #ff6b6b;
    width: 130px;
    border-radius: 4%;
    margin-left: 90px;
    margin-top: 2px;
}

#erro_model {
    display: block;
    color: #8a0000;
    font-size: large;
    background-color: #ff6b6b;
    width: 140px;
    border-radius: 4%;
    margin-left: 85px;
    margin-top: 2px;
}

#erro_colour {
    display: block;
    color: #8a0000;
    font-size: large;
    background-color: #ff6b6b;
    width: 130px;
    border-radius: 4%;
    margin-left: 90px;
    margin-top: 2px;
}

#erro_owner {
    display: block;
    color: #8a0000;
    font-size: large;
    background-color: #ff6b6b;
    width: 170px;
    border-radius: 4%;
    margin-left: 70px;
    margin-top: 2px;
}