<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <a id="title">Cadastro de Veículo</a><br><br>
    <form [formGroup]="formCadV" (ngSubmit)="cadastrarVeiculo()" novalidate>
      <div id="div_form">
        <ion-item id="item" color="transparent">
          <ion-label position="floating">Placa</ion-label>
          <ion-input formControlName="plate" type="text" id="text_form" maxlength="7"></ion-input>
        </ion-item>
        <span *ngIf="isSubmitted &&
          (errorControl.plate.errors?.pattern  ||
          errorControl.plate.errors?.minlength || 
          errorControl.plate.errors?.maxlength ||
          errorControl.plate.errors?.required)">
          <div id="erro_plate">
            Placa Inválida!
          </div>
        </span>

        <ion-item id="item" color="transparent">
          <ion-label position="floating">Marca</ion-label>
          <ion-input formControlName="brand" type="text" id="text_form" maxlength="15"></ion-input>
        </ion-item>
        <span *ngIf="isSubmitted &&
          (errorControl.brand.errors?.minlength || 
          errorControl.brand.errors?.maxlength ||
          errorControl.brand.errors?.required)">
          <div id="erro_brand">
            Marca Inválida!
          </div>
        </span>

        <ion-item id="item" color="transparent">
          <ion-label position="floating">Modelo</ion-label>
          <ion-input formControlName="model" type="text" id="text_form" maxlength="15"></ion-input>
        </ion-item>
        <span *ngIf="isSubmitted &&
          (errorControl.model.errors?.minlength || 
          errorControl.model.errors?.maxlength ||
          errorControl.model.errors?.required)">
          <div id="erro_model">
            Modelo Inválido!
          </div>
        </span>

        <ion-item id="item" color="transparent">
          <ion-label position="floating">Cor</ion-label>
          <ion-input formControlName="colour" type="text" id="text_form" maxlength="15"></ion-input>
        </ion-item>
        <span *ngIf="isSubmitted &&
          (errorControl.colour.errors?.minlength || 
          errorControl.colour.errors?.maxlength ||
          errorControl.colour.errors?.required)">
          <div id="erro_colour">
            Cor Inválida!
          </div>
        </span>

        <ion-item id="item" color="transparent">
          <ion-label position="floating">Proprietário</ion-label>
          <ion-select formControlName="owner" *ngIf="ready">
            <ion-select-option *ngFor="let owner of owners" [value]="owner.id">{{owner.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <span *ngIf="isSubmitted &&
          (errorControl.owner.errors?.required)">
          <div id="erro_owner">
            Proprietário Inválido!
          </div>
        </span>
      </div>

      <ion-button id="button" type="submit" expand="block" size="large">
        <ion-icon id="icon2" slot="start" name="car-outline"></ion-icon>
        Cadastrar Veículo
      </ion-button>
    </form>
  </div>
</ion-content>