<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <div id="colour">
      <ion-title id="title">
        APLICATIVO
      </ion-title>
  
      <ion-title id="subtitle">
        Vigilância de Automóveis
      </ion-title>
    </div>

    <img id="img_vigilauto" src="../../assets/Logo.svg">

    <ion-button id="button1" expand="block" size="large" routerLink="/menu">
      <ion-icon id="icon1" slot="start" name="enter-outline"></ion-icon>
      Entrar
    </ion-button>

    <ion-button id="button2" expand="block" size="large" routerLink="/info">
      <ion-icon id="icon2" slot="start" name="information-circle-outline"></ion-icon>
      Info
    </ion-button>
  </div>
</ion-content>
