#title {
  font-weight: bold;
  text-align: center;
  font-size: 1.3cm;
  color: white;
}

#colour {
  margin-left: -20px;
  padding-top: 10px;
  height: 110px;
  width: 360px;
  background-color: #3880ff;
}

#subtitle {
  font-weight: normal;
  text-align: center;
  font-size: 0.56cm;
  color: white;  
}

#container {
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 40px;
  margin-bottom: 20px;

  align-content: center;
  text-align: center
}

#button1 {
  margin-top: 0px;
  width: 316px;
}

#button2 {
  margin-top: 20px;
  width: 316px;
}

#icon1 {
  margin-left: -90px;
  margin-right: 70px;
}

#icon2 {
  margin-left: -100px;
  margin-right: 85px;
}

#img_vigilauto {
  height: 300px;
  margin-top: 30px;
}