<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title">
      Verificação de Veículos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button expand="block" size="large" routerLink="/menu">
      <ion-icon slot="start" name="enter-outline"></ion-icon>
      Entrar
    </ion-button>

    <ion-button id="button" expand="block" size="large" routerLink="/info">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      Info
    </ion-button>
  </div>
</ion-content>
