<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title">
      Aplicativo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button id="button1" expand="block" size="large" routerLink="/menu">
      <ion-icon id="icon1" slot="start" name="enter-outline"></ion-icon>
      Entrar
    </ion-button>

    <ion-button id="button2" expand="block" size="large" routerLink="/info">
      <ion-icon id="icon2" slot="start" name="information-circle-outline"></ion-icon>
      Info
    </ion-button>
  </div>
</ion-content>
