#title {
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
}

#container {
  position: absolute;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

#button1 {
  margin-top: 400px;
  width: 316px;
}

#button2 {
  margin-top: 20px;
  width: 316px;
}

#icon1 {
  margin-left: -90px;
  margin-right: 70px;
}

#icon2 {
  margin-left: -100px;
  margin-right: 85px;
}